<h1>All Platforms</h1>

<% @platforms.each do |platform| %>
  <%= platform.name %><br>
<% end %>

<br><br>
  <%= render 'buttons/my_shows' %>
  <%= render 'buttons/all_shows' %>
  <%= render 'buttons/my_account' %>
  <%= render 'buttons/logout' %>
