
Seasons: <%= @show.seasons %><br>
Genre: <%= @show.genre %></br>
Starring: <%= @show.lead_actor %> <br>
Status:
<% if @show.status %>
  It's still going!
<% else  %>
  Cancelled
<% end %><br>
Description: <%= @show.description %>
<br><br>
<h3>Available on:</h3>
  <ul>
    <% @show.platforms.each do |platform| %>
      <li><%= link_to platform.name, platform_path(platform) %></li>
    <% end %>
  </ul>
