<body class="site-bg70">
  <section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading"><%= @show.title %></h1>
        <hr class="my-4">
        <p class="lead text-muted">
          <% if @user_show.status == "Watching" %>
          <%= "You're on Season #{@user_show.season}    -    Episode #{@user_show.episode}" %>
          <% end %>
        </p>
    </div>
  </section>

  <section>
    <div class="text-center">
        <%= render 'form' %><br>

      <h1><%= "About #{@show.title}" %> </h1><br>
      <div class="d-flex flex-row justify-content-center flex-wrap">
        <div class="p-2 card-about justify-content-center text-center">
          <%= render 'about' %>
          <%= button_to "Remove From Watch List", user_show_path(@user_show), method: :delete %>
        </div>
      </div>
    </div>
    </section>
  </body>
