<h1><%= @show.title %></h1>

<%= render 'form' %>
<br>
<%= render 'about' %>

<%= button_to "Remove From Watch List", user_show_path(@user_show), method: :delete %>
<%= render 'buttons/my_shows' %>
<%= render 'buttons/all_shows' %>
<%= render 'buttons/my_account' %>
<%= render 'buttons/logout' %>
