<h1><%= @show.title %></h1>

<%= render 'form' %>
<br>
<%= render 'about' %>

<%= button_to "Remove From Watch List", user_show_path(@user_show), method: :delete %>
<%= button_to "My Shows", home_path, method: :get %>
<%= button_to "All Shows", shows_path, method: :get %>
<%= button_to "Logout", login_path, method: :delete, data: { confirm: "Are you sure you want to log out?"} %>
