<body class="site-bg70">
  <section class="jumbotron text-center">
    <div class="container">

      <% if @user.last_logged_title %>
        <h1 class="jumbotron-heading">Currently Watching: <br>
          <%= @user.last_logged_title %></h1>

        <hr class="my-4">

        <p class="lead text-muted">

          <%= "Season #{@user.last_logged_season}    -    Episode #{@user.last_logged_episode}" %>

        </p>

        <p class="lead text-muted">

          <a href= <%="/user_shows/#{@user.last_log_id}/edit"%>  class="btn btn-primary" role="button">UPDATE STATUS</a>
          <a href="/shows" class="btn btn-primary" role="button">FIND A NEW SHOW</a>

        </p>

      <% else %>
        <h1 class="jumbotron-heading">Welcome, <%= @user.show_name %></h1>

        <p>
          <a href="/shows" class="btn btn-primary" role="button">FIND A NEW SHOW</a>
        </p>

      <% end %>

    </div>
  </section>

  <section>
    <h1 class="text-center"><%= @user.first_name %>'s Shows</h1>


      <% if @saved_shows == [] %>
        <p>You aren't currently watching any shows.</p>
      <% else %>

      <div class="d-flex flex-row justify-content-center flex-wrap">

        <% @saved_shows.each do |show| %>

          <div class="p-2 card-saved justify-content-center">
            <% @user_show = UserShow.find_by(show_id: show.id, user_id: @user.id) %>
            <h3 class="card-text"><%= show.title %></h3>
            <p class="card-text"><%= "You're on Season #{@user_show.season}, Episode #{@user_show.season}" %></p>
            <p class="card-text"><%= show.description %></p><br>
            <p class="card-text"><%= link_to "Update My Status", edit_user_show_path(@user_show) %></p>
            <p class="card-text"><%= link_to "View My Status Page", user_show_path(@user_show) %></p>
            <p class="card-text"><%= link_to("Remove From Saved Shows", user_show_path(@user_show), method: :delete)%></p>
          </div>

        <% end %>
      <% end %>
      </div>
    </div>
  </section>

  <section>
    <div class="text-center">
      <h1><%= @user.first_name %>'s Stats</h1><br>
        <h3>- Currently Watching -</h3>
        <p>You are currently watching <%= @user.total_watching %> of your <%= @user.total_saved %> saved shows.</p><br>

        <h3>- Finished Shows - </h3>
          <p>You have finished <%= @user.total_finished %> of your <%= @user.total_saved %> saved shows.</p><br>

        <h3>- Shows By Platform -</h3>
          <p>You have watched <%= @user.platform_total("Netflix") %> of <%= @user.total_watched %> shows on Netflix.</p>
          <p>You have watched <%= @user.platform_total("Prime") %> of <%= @user.total_watched %> shows on Prime.</p>
          <p>You have watched <%= @user.platform_total("HBO") %> of <%= @user.total_watched %> shows on HBO.</p>
          <p>You have watched <%= @user.platform_total("Hulu") %> of <%= @user.total_watched %> shows on Hulu.</p>

        <% if @user.platform_total("Other") > 0 %>
          <p>You have watched <%= @user.platform_total("Other") %> of <%= @user.total_watched %> shows on an alternative platform.</p>
        <% end %><br><br>

    </div>
  </section>
</body>
