<h1><%= @user.first_name %>'s Shows</h1>

<% if @saved_shows == [] %>
You aren't currently watching any shows.
<% else %>
  <% @saved_shows.each do |show| %>
    <% @user_show = UserShow.find_by(show_id: show.id, user_id: @user.id) %>
    <%= link_to show.title, user_show_path(@user_show) %><br>
  <% end %>
<% end %>
<br>


<%= button_to "All Shows", shows_path, method: :get %>
<%= button_to "My Account Info", user_path(@user), method: :get %>
<%= button_to "Logout", login_path, method: :delete, data: { confirm: "Are you sure you want to log out?"} %>
