<h1>Add <%= @show.title %> to your watch list</h1>

<%= form_for @user_show do |f| %>
  <%= f.label :status %>
  <%= f.text_field :status %>
  <%= f.label :season %>
  <%= f.number_field :season %>
  <%= f.label :episode %>
  <%= f.number_field :episode %>
  <%= f.submit %>
<% end %>
<br><br>
<%= button_to "All Shows", shows_path, method: :get %>
<%= button_to "Home", home_path, method: :get %>
<%= button_to "Logout", login_path, method: :delete, data: { confirm: "Are you sure you want to log out?"} %>
