<h1>Add <%= @show.title %> to your watch list</h1>

<%= render 'form' %>
<br>
<h3>About <%= @show.title %>:</h3>
<%= render 'about' %>

<br><br>
<%= render 'buttons/my_shows' %>
<%= render 'buttons/all_shows' %>
<%= render 'buttons/my_account' %>
<%= render 'buttons/logout' %>
