<h1><%= @show.title %></h1>

<%= @user.first_name %>'s Viewing Status: <%= @user_show.status %><br>
<% if @user_show.status == "watching" %>
  Season: <%= @user_show.season %><br>
  Episode: <%= @user_show.episode %>
<% elsif @user_show.status == "watched"%>
  You watched all <%= @show.seasons %> seasons!
<% else %>
  This show has <%= @show.seasons %> seasons.
<% end %>
<br>
<%= button_to "Edit", edit_user_show_path(@user_show), method: :get %>

<br><br>

<% if @review %>
  <h3><%= "Your review of #{@show.title}:" %></h3>
  Rating: <%= @review.rating %><br>
  <%= @review.content %>
<% else %>
  <h3> <%= "You haven't reviewed #{@show.title} yet!" %> </h3>
  <%= button_to "Review #{@user_show.show.title}", new_review_path, method: :get %>
<% end %>
