<h1><%= @show.title %></h1>

<%= @user.first_name %>'s Viewing Status: <%= @user_show.status %><br>
<% if @user_show.status == "Watching" %>
  Season: <%= @user_show.season %><br>
  Episode: <%= @user_show.episode %>
<% elsif @user_show.status == "Watched"%>
  You watched all <%= @show.seasons %> seasons!
<% else %>
  This show has <%= @show.seasons %> seasons.
<% end %>

<br>
<%= button_to "Update My Watch Info", edit_user_show_path(@user_show), method: :get %>
<%= button_to "Remove From Watch List", user_show_path(@user_show), method: :delete %>

<br><br>

<% if @review %>
  <h3><%= "Your review of #{@show.title}:" %></h3>
  Rating: <%= @review.rating %><br>
  <%= @review.content %>
  <%= button_to "Delete Review for #{@user_show.show.title}", review_path(@review), method: :delete %>

<% else %>
  <h3> <%= "You haven't reviewed #{@show.title} yet!" %> </h3>
  <%= button_to "Review #{@user_show.show.title}", new_review_path, method: :get %>
<% end %>

<br><br>

<h3> About <%= @show.title %> </h3>
  <%= render 'about' %>

  <%= render 'buttons/my_shows' %>
  <%= render 'buttons/all_shows' %>
  <%= render 'buttons/my_account' %>
  <%= render 'buttons/logout' %>
