<% if flash[:error] %>
  <div class="alert alert-danger">
    <strong>Uh oh! It appears one or more required fields was left blank. Please try again.</strong><br>
    <% flash[:error].each do |error| %>
      <%= error %><br>
    <% end %>
  </div>
<% end %>
<br>

<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :password %>
  <%= f.password_field :password %></br>
  <%= f.label :location_city %>
  <%= f.text_field :location_city %><br>
  <%= f.label :location_state %>
  <%= f.text_field :location_state %></br>
  <%= f.label :bio %>
  <%= f.text_area :bio %><br>
  <%= f.submit %>
<% end  %>
