<h1>All Shows</h1>

<%= form_tag(shows_path, method: :get) do %>
  <%= hidden_field_tag :search, "popular" %>
  <%= submit_tag 'Most Popular Shows' %>
<% end %>

<%= form_tag(shows_path, method: :get) do %>
  <p><label>  Search Show Name</label>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search' %>
<% end %>

<% if @shows == "no results" %>
  That show doesn't exist yet.
  <%= button_to "Back to all shows", shows_path, method: :get %>
  <%= button_to "Create a new show", new_show_path, method: :get %>
<% elsif @shows == "popular" %>

<% else %>

  <% @shows.each do |show| %>
    <%= link_to show.title, show %><br>
    <br><br><br>
<!-- took out the add to shows button from this page... can we find a way to pass through an identity? -->
  <% end %>
    <%= button_to "Back to all shows", shows_path, method: :get %>
<% end %>
<br><br>

<h2>Don't see your show?</h2>
  <%= button_to "Create Show", new_show_path, method: :get %>

  <%= render 'buttons/my_shows' %>
  <%= render 'buttons/all_shows' %>
  <%= render 'buttons/my_account' %>
  <%= render 'buttons/logout' %>
