<h1>New Show</h1>

<%= form_for @show do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %></br>
  <%= f.label :seasons %>
  <%= f.number_field :seasons %>
  <%= f.label :genre %>
  <%= f.text_field :genre %></br>
  <%= f.label :lead_actor %>
  <%= f.text_field :lead_actor %></br>
  <%= f.label :status, "Still going?" %>
  <%= f.check_box :status %></br>
  <%= f.label :description %>
  <%= f.text_area :description %><br>

  <h3><%= f.label "Available on:" %></h3>
  <%= f.label :netflix %>
  <%= f.check_box :netflix %>
  <%= f.label :prime %>
  <%= f.check_box :prime %>
  <%= f.label :hbo, "HBO" %>
  <%= f.check_box :hbo %>
  <%= f.label :hulu %>
  <%= f.check_box :hulu %><br><br>
  <%= f.submit %>
<% end  %>
