
<h1> <%= @show.title %> </h1>

<%= render 'user_shows/about' %>

<br><br>
<!-- <%= button_to "Edit", edit_show_path(@show), method: :get %> -->
<%= button_to "Add #{@show.title} to My Shows", new_user_show_path, method: :get %>
<%= render 'buttons/my_shows' %>
<%= render 'buttons/all_shows' %>
<%= render 'buttons/my_account' %>
<%= render 'buttons/logout' %>

<br><br>

<h3> <%= "#{@show.title} Reviews" %> </h3>
<% if @reviews[0] %>
  <ul>
    <% @reviews.each do |review| %>
    <li> Rating: <%= review.rating %><br>
        <%= review.content %>
    </li>
    <% end %>
  </ul>
<% else %>
  No reviews yet - Be the first!
  <%= button_to "Review #{@show.title}", new_review_path, method: :get %>
<% end %>
