<h1> <%= @show.title %> </h1>

<h3> Seasons: <%= @show.seasons %> </h3>
Genre: <%= @show.genre %>
</br>
Starring: <%= @show.lead_actor %> <br>
Status:
<% if @show.status %>
  It's still going!
<% else  %>
  Cancelled
<% end %><br>
Description: <%= @show.description %>
<br><br>
<%= button_to "Edit", edit_show_path(@show), method: :get %>
<%= button_to "Delete", show_path(@show), method: :delete %>
<%= button_to "All Shows", shows_path, method: :get %>
<br><br>

<h3> <%= "#{@show.title} Reviews" %> </h3>
<ul>
  <% @reviews.each do |review| %>
  <li> Rating: <%= review.rating %><br>
      <%= review.content %>
  </li>
  <% end %>
</ul>
