<body class="site-bg70">
  <section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading"><%= @user.first_name %>'s Review for <%= @show.title %></h1>
        <hr class="my-4">
        <p class="lead text-muted">
        </p>
    </div>
  </section>

  <section>
    <div class="d-flex flex-row justify-content-center flex-wrap">
      <div class="justify-content-center">

        <% if flash[:error] %>
          <div class="alert alert-danger">
            <strong>Uh oh! It appears one or more required fields was left blank. Please try again.</strong><br>
            <% flash[:error].each do |error| %>
              <%= error %><br>
            <% end %>
            </div>
        <% end %>

        <%= form_for @review do |f| %>
        <div class="p-2 card-review justify-content-center">
          <%= f.label :rating %><br>
          <%= f.number_field :rating, within: 1..5 %><br>
          <%= f.label :content %><br>
          <%= f.text_area :content %>
          <%= f.submit %>
          </div>
          <br>


        <% end %><br><br>

      </div>
    </div>
    </section>
  </body>



<h1></h1>


<br><br>
