<h1><%= @user.first_name %>'s Review for <%= @show.title %></h1>

<%= form_for @review do |f| %>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>
<br><br>

<%= render 'buttons/my_shows' %>
<%= render 'buttons/all_shows' %>
<%= render 'buttons/my_account' %>
<%= render 'buttons/logout' %>
