<h1><%= @user.first_name %>'s Review for <%= @show.title %></h1>

<% if flash[:error] %>
  Review could not be created because of the following error(s):
  <br>
  <% flash[:error].each do |error| %>
    <%= error %><br>
  <% end %>
<% end %>

<%= form_for @review do |f| %>
  <%= f.label :rating %>
  <%= f.number_field :rating, within: 1..5 %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>
<br><br>

<%= render 'buttons/my_shows' %>
<%= render 'buttons/all_shows' %>
<%= render 'buttons/my_account' %>
<%= render 'buttons/logout' %>
