<h1><%= @user.first_name %>'s Review for <%= @show.title %></h1>

<%= form_for @review do |f| %>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>
<br><br>

<%= button_to "All Shows", shows_path, method: :get %>
<%= button_to "Home", home_path, method: :get %>
<%= button_to "Logout", login_path, method: :delete, data: { confirm: "Are you sure you want to log out?"} %>
